<!-- ======= Pop up ======= -->
<section id="pop up" class="container" id="sec-6aa2">
    <div class="container">
        <div class="row">
            <div class="contentn">
                <h3>
                    <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-1"
                        href="{% url 'policy' %}"">Cookies &amp; Privacy Policy</a>
                </h3>
                <p> This website uses cookies to ensure
                    you get the best experience on our website.
                </p>
                <div class=" u-align-right u-container-style u-layout-cell u-right-cell u-size-14-lg u-size-14-xl
                        u-size-17-md u-size-17-sm u-size-17-xs u-layout-cell-2">
                        <div class="container">
                            <a href="###" class="button">Confirm</a>
                        </div>
            </div>
        </div>
    </div>
    </div>
</section><!-- Pop up -->