<!-- ======= Privacy Section ======= -->
<section id="privacy" class="d-flex align-items-center">
    <div class="container">
        <h1>Privacy Policy and Cookies</h1>
        <p><br>A cookie is a small text file that is stored in your browser when you visit almost any website. Its usefulness is that the website is able to remember your visit when you browse that page again. Cookies typically store technical information, personal preferences, content personalization, usage statistics, links to social networks, access to user accounts, etc. The purpose of the cookie is to adapt the website's content to your profile and needs. Without cookies, the services offered by any website would be significantly reduced. If you would like more information about what cookies are, what they store, how to delete them, disable them, etc., please refer to this link.</p>
    </div>
</section><!-- End Privacy -->

<section class="d-flex align-items-center" id="cookies">
    <!-- ======= Cookies used on this website ======= -->
    <div class="container">
        <h2>Cookies used on this website</h2>
            <p> Following the
                guidelines of the Spanish Data Protection Agency, we proceed to detail the use of cookies that
                this website makes in order to provide you with the most accurate information possible.<br>
                <br>This website uses the following first-party cookies:<br>
                <br>Session cookies, to ensure that users who write comments on the blog are human and not
                automated applications. This combats spam.<br>
                <br>This website uses the following third-party cookies:Google Analytics: Stores cookies to
                generate statistics about the traffic and volume of visits to this website. By using this
                website, you consent to the processing of information about you by Google. Therefore, any
                exercise of rights in this regard must be done directly with Google.Social networks: Each social
                network uses its own cookies so that you can click on buttons such as Like or Share.
            </p>
    </div><!-- End Cookies used on this website -->
</section>

<section class="d-flex align-items-center" id="cookies">
    <!-- ======= Disabling or deleting cookies ======= -->
    <div class="container">
        <h3>Disabling or deleting cookies</h3>
        <p>You can
            exercise your right to disable or delete cookies from this website at any time. These actions
            are performed differently depending on the browser you are using. Here is a quick guide for the
            most popular browsers.
        </p>
    </div><!-- End Disabling or deleting cookies -->
</section>

<section class="d-flex align-items-center" id="cookies"></section>
    <!-- ======= Additional notes ======= -->
    <div class="container">
        <h3 class="u-text u-text-custom-color-1 u-text-1"> Additional notes</h3>
        <p> Neither this
            website nor its legal representatives are responsible for the content or veracity of the privacy
            policies that third parties mentioned in this cookie policy may have.<br>
            <br>Web browsers are the tools responsible for storing cookies, and from this place, you must
            exercise your right to delete or disable them. Neither this website nor its legal
            representatives can guarantee the correct or incorrect handling of cookies by the aforementioned
            browsers.<br>
            <br> In some cases, it is necessary to install cookies so that the browser does not forget your
            decision to not accept them.<br>
            <br>In the case of Google Analytics cookies, this company stores cookies on servers located in
            the United States and is committed to not sharing them with third parties, except when necessary
            for the functioning of the system or when the law requires it. According to Google, it does not
            store your IP address. Google Inc. is a company that adheres to the Safe Harbor Agreement, which
            ensures that all transferred data will be treated with a level of protection consistent with
            European regulations. You can find detailed information on this subject at this link. If you
            want information about how Google uses cookies, we attach this other link.<br>
            <br>For any questions or inquiries about this cookie policy, please do not hesitate to contact
            us through the contact section.
        </p>
    </div><!-- End Additional notes -->
</section>