body.dark-mode {
  background-color: #222; /* Cambia el fondo de la página en modo oscuro */
  color: #fff; /* Cambia el color del texto en modo oscuro */
}

::-webkit-scrollbar {
  display: none;
}


#id_password1 {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
#id_password2 {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #002d88;
  text-decoration: none;
}

a:hover {
  color: #001c55;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #002d88;
  border-top-color: #d1e6f9;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #002d88;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #637aa7;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.datepicker-dropdown {
  padding: 20px !important;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #fff;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  z-index: 996;
}

#topbar.topbar-scrolled {
  top: -40px;
}

#topbar .contact-info a {
  line-height: 1;
  color: #444444;
  transition: 0.3s;
}

#topbar .contact-info a:hover {
  color: #002d88;
}

#topbar .contact-info i {
  color: #002d88;
  padding-right: 4px;
  margin-left: 15px;
  line-height: 0;
}

#topbar .contact-info i:first-child {
  margin-left: 0;
}

#topbar .social-links a {
  color: #002d88;
  padding-left: 15px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}

#topbar .social-links a:hover {
  color: #002d88;
}

#topbar .social-links a:first-child {
  border-left: 0;
}

/*--------------------------------------------------------------
# header empty
--------------------------------------------------------------*/
#headerempty {
  background: #fff;
  transition: all 0.5s;
  padding: 15px 0;
  z-index: 997;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

#headerempty.header-scrolled {
  top: 0;
}

#headerempty .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

#headerempty .logo a {
  color: #002d88;
}

#headerempty .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  top: 40px;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

#header.header-scrolled {
  top: 0;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #002d88;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  position: relative;
  white-space: nowrap;
  padding: 8px 0 8px 20px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #2c4964;
  white-space: nowrap;
  transition: 0.3s;
  border-bottom: 2px solid #fff;
  padding: 5px 2px;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #002d88;
  border-color: #002d88;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 20px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #002d88;
  border: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #002d88;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

#pricingpills-tab{
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  justify-content: center;
  display: inline-block;
  text-align: center;
  padding: 5px 15px;
}

.pricing-tab .new-pills .price-link {
  color: #002d88;
  margin: 0 5px;
  border-radius: 50px;
  transition: background-color 0.3s, color 0.3s;
  padding: 5px 15px;
}
.pricing-tab .new-pills .price-link.active {
  background-color: #002d88;
  color: #fff;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #002d88;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(28, 47, 65, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #2c4964;
  border: none;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #002d88;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #002d88;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/**
* Button *
*/
.btn {
  margin-left: 25px;
  background: #002d88;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  border-color: unset;
}

.btn:hover {
  background: #001c55;
  color: #fff;
}

@media (max-width: 768px) {
  .btn {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
}




#demostration {
  display: flex;
  align-items: center;
  
  justify-content: space-between;
  background: url("../images/fondo2.png") top center;
  
  background-size: cover;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  display: flex;
  align-items: left;
  justify-content: space-between;
  width: 100%;
  height: 90vh;
  background: url("../images/firma.jpg") top center;
  background-size: cover;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #ffffff;
}

#hero h2 {
  color: #ffffff;
  margin: 10px 0 0 0;
  font-size: 24px;
}

#hero .hero-text {
  text-align: center;
}

#hero .registration-form {
background-color: #ffffff; /* Fondo blanco para el formulario */
border-radius: 10px; /* Bordes redondeados */
padding: 20px; /* Espaciado interno */
box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

#hero .form-title {
color: #333333; /* Color del título */
}

#hero .form-group {
margin-bottom: 20px; /* Espaciado inferior entre grupos de formulario */
}

#hero .form-control {
border: 1px solid #ced4da; /* Borde del campo de entrada */
border-radius: 5px; /* Bordes redondeados para el campo de entrada */
}

/* Estilos para el botón de enviar */
#hero .btn-primary {
background-color: #007bff; /* Color de fondo del botón */
border: 1px solid #001c55; /* Borde del botón */
border-radius: 5px; /* Bordes redondeados para el botón */
color: #ffffff; /* Color del texto del botón */
}

#hero .btn-primary:hover {
background-color: #0056b3; /* Cambio de color al pasar el ratón sobre el botón */
}

@media (min-width: 1024px) {
  #hero {
      background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  #hero {
      margin-bottom: 0;
      height: 100vh;
  }

  #hero .container {
      padding-bottom: 63px;
      align-items: flex-start; /* Cambia la alineación en pantallas más pequeñas */
  }

  #hero h1 {
      font-size: 28px;
      line-height: 36px;
  }

  #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
  }
}

@media (max-height: 600px) {
  #hero {
      height: 110vh;
  }
}




/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
#services .row {
  width: 100%; /* Ocupar todo el ancho de la página */
}

#services .service-box {
  background-color: #ffffff; /* Color de fondo de la caja */
  border-radius: 10px; /* Bordes redondeados */
  height: 430px;
}

#services .service-box:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra al pasar el ratón */
}



/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing-badge {
  background-color: #002d88; /* Color de fondo */
  color: #fff; /* Color del texto */
  padding: 8px 35px; /* Espaciado interno */
  font-weight: bold; /* Texto en negrita */
  font-size: 14px; /* Tamaño del texto */
  text-transform: uppercase; /* Convertir texto a mayúsculas */
  letter-spacing: 0.8px; /* Espaciado entre letras */
  display: inline-block; /* Mostrar como bloque en línea */
  position: absolute; /* Posición absoluta */
  top: 30px; /* Desplazamiento desde la parte superior */
  right: -40px; /* Desplazamiento desde la derecha */
  transform: rotate(40deg); /* Rotar 45 grados en sentido contrario a las agujas del reloj */
}

/* Estilos adicionales si lo deseas */
.pricing-badge.shadow-lg {
  box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.3); /* Sombra */
}




.badge.badge-soft-primary {
  background-color: #2e83df; /* Color de fondo */
  color: #fff; /* Color del texto */
  padding: 0.35rem 0.75rem; /* Ajustes de relleno */
  font-size: 14px; /* Tamaño del texto */
  border-radius: 0.25rem; /* Radio de borde para esquinas redondeadas */
}



/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #ececec;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #2c4964;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #002d88;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}













/* Estilos para la imagen dentro del div */
#contact .col-lg-5.ms-lg-auto img {
  max-width: 100%;  /* Ajustar la imagen al ancho del contenedor */
  height: auto;  /* Mantener la proporción de la imagen */
  border-radius: 8px;  /* Bordes redondeados para la imagen */
}

/* Estilos para los enlaces sociales dentro del div */
#contact .col-lg-5.ms-lg-auto .social-links a {
  color: #2c4964;  /* Color de los enlaces sociales */
  margin-right: 15px;  /* Espaciado entre enlaces */
}










/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #444444;
  font-size: 14px;
  background: #ececec;
  bottom: 0%;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #002d88;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #0d6efd;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #bfdcf7;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #002d88;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #002d88;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #002d88;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #1c84e3;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Pop up
--------------------------------------------------------------*/
#pop up {
  color: #444444;
  font-size: 14px;
  background: #ececec;
}

.pop up .u-sheet-1 {
  min-height: 100px;
}

.pop up .u-layout-wrap-1 {
  width: 1125px;
  margin: 0 auto 0 0;
}

.pop up .u-layout-cell-1 {
  min-height: 117px;
}

.pop up .u-container-layout-1 {
  padding: 18px 60px;
}

.pop up .u-text-1 {
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
}

.pop up .u-btn-1 {
  background-image: none;
  font-size: 1.875rem;
  padding: 0;
}

.pop up .u-text-2 {
  margin: 8px 20px 0 0;
}

.pop up .u-layout-cell-2 {
  min-height: 117px;
}

.pop up .u-container-layout-2 {
  padding: 30px;
}

.pop up .button {
  font-weight: 700;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .pop up .u-sheet-1 {
      min-height: 131px;
  }

  .pop up .u-layout-wrap-1 {
      width: 940px;
  }

  .pop up .u-layout-cell-1 {
      min-height: 98px;
  }

  .pop up .u-text-1 {
      margin-right: 0;
  }

  .pop up .u-text-2 {
      margin-right: 0;
  }

  .pop up .u-layout-cell-2 {
      min-height: 98px;
  }
}

@media (max-width: 991px) {
  .pop up .u-sheet-1 {
      min-height: 106px;
  }

  .pop up .u-layout-wrap-1 {
      width: 720px;
  }

  .pop up .u-layout-cell-1 {
      min-height: 100px;
  }

  .pop up .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
  }

  .pop up .u-layout-cell-2 {
      min-height: 100px;
  }
}

@media (max-width: 767px) {
  .pop up .u-sheet-1 {
      min-height: 225px;
  }

  .pop up .u-layout-wrap-1 {
      width: 540px;
  }

  .pop up .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 20px;
  }

  .pop up .u-container-layout-2 {
      padding: 10px;
  }
}

@media (max-width: 575px) {
  .pop up .u-sheet-1 {
      min-height: 121px;
  }

  .pop up .u-layout-wrap-1 {
      width: 340px;
  }
}


/*--------------------------------------------------------------
# cookies
--------------------------------------------------------------*/
.cookies .h2 {
  font-size: 28px;
  font-weight: 700;
  color: #2c4964;
  margin-bottom: 15px;
}

/*--------------------------------------------------------------
# privacy Section
--------------------------------------------------------------*/
#privacy {
  width: 100%;
  height: 90vh;
  margin-bottom: -200px;
}

#privacy .container {
  position: relative;
}

#privacy h1 {
  margin: 10px 0 0 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #2c4964;
}

#privacy h2 {
  color: #2c4964;
  margin: 10px 0 0 0;
  font-size: 24px;
}















/*--------------------------------------------------------------
# login
--------------------------------------------------------------*/
.in {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 40px;
}

form.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
}

form.login-form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form.login-form .custom-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

form.login-form .button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #002d88;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

form.login-form .button:hover {
  background-color: #001c55;
}

.signin .login-form .error-message {
  display: none;
  color: #fff;
  background: #c52c02;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.signin .login-form .error-message br+br {
  margin-top: 25px;
}


.signin .login-form .loading {
  display: none;
  background: #f8f9fa;
  text-align: center;
  padding: 15px;
}

.signin .login-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #002d88;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.signin .login-form button[type=submit] {
  background: #002d88;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.signin .login-form button[type=submit]:hover {
  background: #002d88;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/*--------------------------------------------------------------
# email form
--------------------------------------------------------------*/
.in {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 40px;
}

form.php-email-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
}

form.php-email-form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form.php-email-form .custom-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

form.php-email-form .button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #002d88;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

form.php-email-form .button:hover {
  background-color: #001c55;
}







/*--------------------------------------------------------------
# Loading / Error / Success Messages
--------------------------------------------------------------*/
.signin .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #c52c02;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.signin .php-email-form .error-message br+br {
  margin-top: 25px;
}


.signin .php-email-form .loading {
  display: none;
  background: #f8f9fa;
  text-align: center;
  padding: 15px;
}

.signin .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #002d88;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.signin .php-email-form button[type=submit] {
  background: #002d88;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.signin .php-email-form button[type=submit]:hover {
  background: #002d88;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}