{% autoescape off %}
Hola {{ user.name }},

Recientemente hemos recibido una solicitud para restablecer la contraseña asociada a tu cuenta con la dirección de correo electrónico: {{ email }}.
Si tú has realizado esta solicitud, por favor sigue el enlace proporcionado a continuación para proceder con el restablecimiento de tu contraseña:

Restablecer contraseña: {{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}

Si no has solicitado el restablecimiento de tu contraseña, te pedimos que ignores este mensaje por razones de seguridad.

¡Gracias por confiar en AsesorBot!

Atentamente,
El Equipo de AsesorBot
{% endautoescape %}