<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <!-- primera parte -->
    <div id="first_part">
        <div>
                <h2>Cómo Funciona</h2>

                <div>Hergos es un chatbot que te ayudará a resolver tus dudas laborales. <br></div>
                <div>Solo tienes que escribir tu pregunta y te responderemos en base al convenio laboral y al estauto de los trabajadores.<br><br></div>
                <div>Para mayor precisión en la respuesta, puedes escribir información adicional de la empresa o de la situación laboral.<br><br></div>
                <div>Ejemplo: ¿Cuántos días de vacaciones me corresponden si trabajo en una empresa de 5 empleados en Madrid?<br><br></div>
                <div>Si quieres guardar la conversación para mayor rapidez en tus consultas, puedes hacerlo con el botón de guardar.</div>
        </div>
    </div>
</body>
</html>
