<footer id="footer">
    <div class="container d-md-flex py-4">

        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>Hergos</span></strong>. All Rights Reserved
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="https://twitter.com/tuV3C1N0" target="_blank" rel="noopener noreferrer" class="twitter"><i
                    class="bx bxl-twitter"></i></a>
            <a href="https://www.facebook.com/rodrigo.vecinodeharo/" target="_blank" rel="noopener noreferrer"
                class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/rodrigo_vecino/" target="_blank" rel="noopener noreferrer"
                class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="https://www.linkedin.com/in/rodrigo-vecino/" target="_blank" rel="noopener noreferrer"
                class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</footer>