<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <!-- LOGO -->
        <h1 class="logo me-auto"><a class="nav-link scrollto" href="">HERGOS</a></h1>
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="navbar order-last order-lg-0" id="navbar">
            <ul>
                <li>
                    <a href="#hero" class="nav-link scrollto active">Home</a>
                </li>
                <li>
                    <a href="#services" class="nav-link scrollto">Servicios</a>
                </li>
                <li>
                    <a href="#features" class="nav-link scrollto">Inteligencia Artificial</a>
                </li>
                <li>
                    <a href="#pricing" class="nav-link scrollto">Tarifas</a>
                </li>
                <li>
                    <a href="#team" class="nav-link scrollto">Equipo</a>
                </li>
                <li>
                    <a href="#blog" class="nav-link scrollto">Clientes</a>
                </li>
                <li>
                    <a href="#contact" class="nav-link scrollto">Contactanos</a>
                </li>
                <li>
                    <a href="signup" class="nav-link scrollto">Regístrate</a>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <a href="login" class="btn scrollto"><span
            class="d-none d-md-inline"></span>Acceso Clientes</a>
    </div>
</header>