<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope"></i> <a href="mailto:hergos.soporte@gmail.com">hergos.soporte@gmail.com</a>
            <i class="bi bi-phone"></i> <a href="tel:+34620598433">+34 620 59 84 33</a>
        </div>
        <div class="d-none d-lg-flex social-links align-items-center">
            <a href="https://twitter.com/tuV3C1N0" target="_blank" rel="noopener noreferrer" class="twitter"><i
                    class="bx bxl-twitter"></i></a>
            <a href="https://www.facebook.com/rodrigo.vecinodeharo/" target="_blank" rel="noopener noreferrer"
                class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/rodrigo_vecino/" target="_blank" rel="noopener noreferrer"
                class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="https://www.linkedin.com/in/rodrigo-vecino/" target="_blank" rel="noopener noreferrer"
                class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</div>