
{%load static%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Asesor Bot · Policy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Asesor bot for better solutions" />
        <meta name="keywords" content="Asesor, bot, laboral" />
        <meta content="Themesbrand" name="Asesor Bot" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        
        <!-- Favicons -->
        <link rel="icon" href="{% static 'images/asesorbot2.png' %}" type="image/png" sizes="16x16">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- CSS Files -->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
        <link href="{% static '/css/styleblue.css' %}." rel="stylesheet" type="text/css" />
    </head>

    <body>


    {% block header %}
    {%include "header_empty.html"%}
    {% endblock %}


    
    <section id="page">
        <section id="privacy" class="d-flex align-items-center">
            <div class="container">
                <h1>Política de Privacidad y Cookies</h1>
                <p><br>Esta Política de Privacidad y Cookies establece cómo Hergos utiliza y protege cualquier información que usted proporcione al utilizar este sitio web.
                    Nos comprometemos a garantizar que su privacidad esté protegida.
                    Si le solicitamos que proporcione cierta información mediante la cual pueda ser identificado al utilizar este sitio web, puede estar seguro de que se utilizará de acuerdo con esta declaración de privacidad.
                </p>
            </div>
        </section>
        
        
        <section class="d-flex align-items-center" id="cookies">
            <div class="container">
                <h2>Cookies</h2>
                    <p> Este sitio web no utiliza cookies propias ni de terceros para recopilar información personal sobre los usuarios.
                        Sin embargo, es posible que terceros proveedores de servicios externos, como plataformas de análisis web, puedan utilizar cookies para recopilar información anónima sobre la navegación de los usuarios con el fin de mejorar la experiencia del usuario.
                        Usted puede aceptar o rechazar el uso de cookies a través de la configuración de su navegador. Tenga en cuenta que el rechazo de cookies puede afectar la funcionalidad y experiencia de navegación de este sitio web.
                    </p>
            </div>
        </section>
        
        
        <section class="d-flex align-items-center" id="cookies">
            <div class="container">
                <h2>Recopilación de Información</h2>
                <p>No recopilamos información personal sobre usted a través de este sitio web, a menos que la proporcione voluntariamente al contactarnos a través de los formularios de contacto o al suscribirse a nuestros servicios, en cuyo caso utilizaremos su información únicamente con el propósito de responder a sus consultas o enviarle comunicaciones relacionadas con nuestro contenido.
                </p>
            </div>
        </section>
        
        
        <section class="d-flex align-items-center" id="cookies">
            <div class="container">
                <h2> Enlaces a Otros Sitios Web</h2>
                <p> Este sitio web puede contener enlaces a otros sitios web de interés.
                    Sin embargo, una vez que haya utilizado estos enlaces para salir de nuestro sitio, debe tener en cuenta que no tenemos ningún control sobre ese otro sitio web.
                    Por lo tanto, no podemos ser responsables de la protección y privacidad de cualquier información que usted proporcione mientras visita dichos sitios y estos no están regidos por esta declaración de privacidad.
                    Le recomendamos que ejerza precaución y revise la declaración de privacidad aplicable al sitio web en cuestión.
                </p>
            </div>
        </section>
        
        <section class="d-flex align-items-center" id="cookies">
            <div class="container">
                <h2> Cambios en Esta Política</h2>
                <p> Nos reservamos el derecho de actualizar esta Política de Privacidad y Cookies en cualquier momento.
                    Le recomendamos que revise periódicamente esta página para asegurarse de estar familiarizado con cualquier cambio.
                    Esta política fue actualizada por última vez el 10 de Junio de 2024.
        
                    Si tiene alguna pregunta sobre esta política, puede contactarnos utilizando la información proporcionada en la página de contacto de este sitio web.            
                </p>
            </div>
        </section>

    </section>


    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js'%}"></script>
    </body>

</html>